<form [formGroup]="form">
  <div class="form-group">
    <label for="oldPassword">Old Password</label>
    <input type="text" formControlName="oldPassword" class="form-control">
    <div class="alert alert-danger" *ngIf="oldPassword.touched && oldPassword.invalid">
      <div *ngIf="oldPassword.errors.required">the username is required</div>
      <div *ngIf="oldPassword.errors.minlength">
        the username minlength required is {{oldPassword.errors.minlength.requiredLength}}
      </div>
      <div *ngIf="oldPassword.errors.maxlength">
        the username maxlength required is {{oldPassword.errors.maxlength.requiredLength}}
      </div>
      <div *ngIf="oldPassword.errors.invalidPassword">
        the old password dosent match
      </div>
    </div>
    <div>{{ form.get('oldPassword').value }}</div>
  </div>
  <div class="form-group">
    <label for="newPassword">New Password</label>
    <input type="text" formControlName="newPassword" class="form-control">
    <div class="alert alert-danger" *ngIf="newPassword.touched && newPassword.invalid">
      <div *ngIf="newPassword.errors.required">the username is required</div>
      <div *ngIf="newPassword.errors.minlength">
        the username minlength required is {{newPassword.errors.minlength.requiredLength}}
      </div>
      <div *ngIf="newPassword.errors.maxlength">
        the username maxlength required is {{newPassword.errors.maxlength.requiredLength}}
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="conPassword">Conform Password</label>
    <input type="text" formControlName="conPassword" class="form-control">
    <div class="alert alert-danger" *ngIf="conPassword?.touched && conPassword?.invalid">
      <!-- <div *ngIf="form.hasError('required','conPassword')">the username is required</div> -->
      <!-- <div *ngIf="conPassword.errors?.minlength">
        the username minlength required is {{conPassword.errors.minlength.requiredLength}}
      </div>
      <div *ngIf="conPassword.errors?.maxlength">
        the username maxlength required is {{conPassword.errors.maxlength.requiredLength}}
      </div> -->
      <div *ngIf="form.hasError('passwordShouldMatch','conPassword')">
        the password is not same as newPassword
      </div>
    </div>
  </div>
</form>