img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.column {
    width: 270px;
    background-color: lightgray;
    border-bottom-color: black;
}

input[type = button] {
    width: 100%;
}

label {
    text-align: justify;
    padding: 10px;
}